.ListItemLink {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  border: 1px white solid;
  cursor: pointer;
}
.ListItemLink:hover {
  background-color: rgb(35, 35, 35);
}

.ListItemContent {
  display: flex;
  flex-direction: column;
}

.ListItemTitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: medium;
  color: white;
  text-transform: lowercase;
}

.ListItemColors {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: rgb(210, 211, 211);
}

.ListItemDetails {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgb(210, 211, 211);
}
