/* reset */
button {
  all: unset;
}

.CheckboxPrimitiveContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.CheckboxRoot {
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px black;
}
.CheckboxRoot:hover {
  background-color: rgb(255, 229, 255);
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: violet;
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
}
